.btn-circle {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 10px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 20px;
  line-height: 1.42857;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}
.fa-shopping-cart{
  padding-right: 7px;
}